@import "reset.css";
/*@import "function.css";*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */

.w
	max-width 1170px
	width 100%
	margin 0 auto
body
	font-size 100%
.header
	border-bottom 1px solid #353535
	.brand
		width 300px
		height 135px
		background url() center center no-repeat
	.nav
		padding-top 60px
		font-size 16px
		color #000
		a
			padding-bottom 15px
			margin-left 60px
			&:hover,
			&.active
				color #bd3d25
				background url('../img/round.png') bottom center no-repeat
.main
	h3
		position relative
		padding-top 104px
		font-size 18px
		color #272727
		line-height 38px
		&:after
			content ""
			position absolute
			left 0
			bottom 0
			width 20px
			height 2px
			background #bd3d25
	.list-page-mobile
		.item
			padding-bottom 45px
			border-bottom 1px solid #eeeeee
	h4
		padding 100px 0 50px
		font-size 18px
		color #272727
		line-height 1
	.pic
		img
			display block
			width 100%
	p
		padding-top 33px
		min-height 110px
		font-size 14px
		color #959595
		line-height 2
	a
		display block
		margin-top 40px
		width 150px
		height 42px
		font-size 16px
		color #272727
		text-align center
		line-height 42px
		border 2px solid #272727
		&:hover
			background #272727
			color #fff
	.list-page-server
		padding-top 80px
		.item
			&+.item
				margin-top 30px
			.pic
				width 48%
				img
					display block
					width 100%
			.text
				width 50%
				padding-left 2%
				h4
					padding 5px 0 10px
				.date
					padding-bottom 15px
					font-size 12px
					color #959595
					line-height 2
					border-bottom 1px solid #e9e9e9
				p
					padding-top 17px
				a
					margin 20px 0 0 0
	.list-page-ude
		padding-top 75px
		.none
			width 100%
		.item
			padding-bottom 40px
			width 49%
			h4
			p
				padding 0
				min-height auto
				line-height 1.5
			.date
				padding-top 20px
				font-size 14px
				color #bd3d25
				line-height 1
			&+.item
				margin-left 2%
	.list-page-case
		padding-top 75px
		.item
			box-sizing border-box
			padding 10px
			width 31%
			background #eee
			.text
				padding-top 15px
				width 100%
				&>*
					width 50%
					overflow hidden
					text-overflow ellipsis
					white-space nowrap
					float left
					text-align right
					line-height 2
				h4
					padding 0
					text-align left
			&+.item
				margin-left 2%
		.none
			width 100%
			padding-top 30px
.page-control
	padding-top 60px
	a
		margin-top 0
		margin-right 10px
		width 44px
		height 44px
		font-size 14px
		color #272727
		text-align center
		line-height 44px
		border 1px solid #272727
		&:hover
			background #bd3d25
			border-color #bd3d25
			color #fff
.margin110-0
	margin 110px 0
.line
	height 1px
	background #272727


.add-3-26-main
	.banner
		.swiper-slide
			background url() center center no-repeat
			a
				display block
				width 100%
				height 600px
		.swiper-pagination
			left 50%
			bottom 0
			top 0
			right auto
			width 20px
			margin-left 580px
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			flex-wrap wrap
			justify-content center
			line-height 1
			font-size 0
			flex-direction column
			span
				position relative
				width 10px
				height 10px
				border-radius 0
				opacity 1
				background #7d8692
				display block
				margin 24px 0
				&:after
					content ""
					position absolute
					left -5px
					right -5px
					bottom -5px
					top -5px
					border 1px solid transparent
				&.swiper-pagination-bullet-active:after
					border-color #aaabaa	
	.title
		font-size 42px
		color #333
		line-height 1.5
		text-align center
		span
			position relative
			padding-left 50px
			&:after
				content ""
				position absolute
				top 10px
				left 0
				height 40px
				border-left 6px solid #ff6613
		small
			display block
			color #9c9c9c
	.service
		padding 60px 0 80px
		.item
			padding-top 80px
			width 30%
			text-align center
			.pic
				display block
			h3
				font-size 30px
				color #333
				line-height 100px
				font-weight bold
				text-align center
			p
				font-size 22px
				color #666
				line-height 34px
			&+.item
				margin-left 5%
			
	.case
		padding 60px 0
		background url('../img/case-bg.png') center top no-repeat
		.w
			position relative
		.swiper-container
			max-width 900px
			width 100%
		.title
			padding-bottom 30px
		.wrap
			width 264px
			margin 0 auto
			background #f8f8f8
			.pic
				img
					display block
					width 100%
			h3
			h4
			p
				padding 0 20px
			h3
				padding-top 10px
				font-size 16px
				color #333
			h4
				padding-top 5px
				padding-bottom 5px
				font-size 14px
				color #999
			p
				padding-top 10px
				padding-bottom 10px
				border-top 1px solid #ececec
				font-size 12px
				color #999
		.left-arrow
		.right-arrow
			position absolute
			width 44px
			height 44px
			top 50%
			margin-top -22px
			background #dedede url('../img/area.png') center center no-repeat
			cursor pointer
		.left-arrow
			left 0
		.right-arrow
			right 0
			background-image url('../img/area2.png')
	.about
		padding 70px 0 180px
		background url('../img/about.jpg') left center no-repeat
		.pic
			width 600px
			img
				width 100%
		.content
			width 490px
			text-align left
			.title
				text-align left
			h4
				padding-top 40px
				padding-bottom 10px
				width 80%
				font-size 20px
				color #333
				border-bottom 1px solid #efefef
			p
				padding-top 20px
				font-size 14px
				color #000
				line-height 1.5
	.contact-us
		padding-bottom 70px
		background url('../img/contact-us.jpg') left top no-repeat
		.logo
			padding 40px 0 10px
			img
				display block
				margin 0 auto
		h3
			text-align center
			font-size 28px
			color #333
			line-height 1.5
			small
				display block
				color #c2c2c2
		.w750
			padding-top 40px
			width 750px
			margin 0 auto
			.content
				padding-top 25px
				padding-left 38px
				font-size 18px
				line-height 1.5
				color #333
				h3
					font-size 18px
					font-weight bold
				p
					font-size 18px
	.copy-right
		font-size 14px
		color #999
		line-height 48px
		text-align center
